<div>
    <div id="component">
        <component is="compName"></component>
    </div>
    <div id="component-dyn">
        <component is="{{varCompName}}"></component>
    </div>
    <div id="component-dyn-new">
        <component :is="varCompName"></component>
    </div>
    <div id="directive">
        <div v-component="compName"></div>
    </div>
    <div id="dash">
        <comp-name></comp-name>
    </div>
    <div id="dash-first-upper">
        <my-component></my-component>
    </div>
    <div id="repeat-tag">
        <comp-name v-repeat="arr"></comp-name>
    </div>


    <div id="overlappingn-rep">
        <div is="compNameRep" v-if="overlapping.show" v-show="overlapping.show" :attr="overlapping.attr"></div>
    </div>

    <div id="overlappingn-no-rep">
        <div is="compNameNoRep" v-if="overlapping.show" v-show="overlapping.show" :attr="overlapping.attr"></div>
    </div>


    <div id="comp-empty">
        <comp-empty></comp-empty>
    </div>

    <div id="comp-empty-inner">
        <comp-empty>rakushka-{{childValue}}</comp-empty>
    </div>

    <div id="comp-empty-inner-dyn">
        <component :is="emptyName">rakushka-{{childValue}}</comp-empty>
    </div>

    <div id="comp-not-empty-inner">
        <comp-name>rakushka</comp-name>
    </div>

    <div id="comp-name-empty">
        <component is="">rakushka</component>
    </div>

    <div id="name-for-invocation">
        <reco :val="true"></reco>
    </div>
</div>
