@mixin header() {
	// color: $common-header-color;
	// line-height: 24px;
	font-family: $special-font-family;
	// font-weight: bold;
}

@mixin header-link {
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-hover-color-common;
	}
}

@mixin header1() {
	@include header();
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}

@mixin header2() {
	@include header();
	font-size: $font-size-h2;
	line-height: $line-height-h2;
}

@mixin header3() {
	@include header();
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}

@mixin header4() {
	@include header();
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

@mixin header5() {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

@mixin header6() {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}








@mixin text-format() {
	font-size: $font-size-common;
	line-height: $line-height-common;
	color: $text-color-common;
	font-family: $font-family-common;
}

@mixin site-content() {
	@include box-sizing;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: $sides-spacing;
	padding-right: $sides-spacing;
	// max-width: 1280px;
	max-width: 1355px;
	min-width: 1355px;
	// min-width: 990px;
	// min-height: 720px;
}


@mixin select-common {
	height: 34px;
	line-height: 34px;
	border: 1px solid #c4c4c4;
	padding: 6px 6px;
	@include box-sizing;
	@include border-radius(2px);
	font-size: 14px;
	width: 100%;
	background: #fff;
}

@mixin input-common {
	width: 100%;
	height: 34px;
	border: 1px solid #c4c4c4;
	padding: 0 10px;
	@include box-sizing;
	@include border-radius(2px);
	font-size: 14px;
}


@mixin input-dropdown {
	padding-right: 22px;
	@include icon(expand);
	background-position: 92% 50%;
}



@mixin close-large($element: "span", $top: 10, $right: 10) {
	@include border-radius(13);
	background: transparent;
	border: 0;
	margin: 0;
	padding: 1px;
	width: 24px;
	height: 24px;
	top: $top + px;
	right: $right + px;

	&:hover,
	&:focus {
		@include box-shadow(inset 0 0 4px rgba(222, 222, 222, 1));
		background: #eeeeee;
		border: 1px solid #dadada;
		padding: 0;
	}

	#{$element} {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;
		background: transparent;
		cursor: pointer;
		background: url("http://auto.ngs.ru/static/img/Public/sprites/general.png") 0 -1230px no-repeat;
		font-size: 0;
		line-height: 0;

	}
}








// @mixin article-content() {
// 	line-height: 24px;

// 	a {
// 		@include link();
// 	}

// 	h2 {
// 		@include header-2(true);
// 	}

// 	h3 {
// 		@include header-3(true);
// 	}

// 	h4 {
// 		@include header-4(true);
// 	}

// 	h5 {
// 		@include header-5(true);
// 	}

// 	p {
// 		margin: 0 0 12px;
// 	}

// 	ol, ul {
// 		margin: 0 0 24px;
// 		padding: 0 0 0 24px;
// 	}

// 		li {
// 			margin: 0 0 12px;
// 		}
// }
