$font-family-common: "Arial", "FreeSans", "Geneva CY", "Nimbus Sans L", "sans-serif" !default;
$special-font-family: "Open Sans", "Tahoma", "FreeSans", "Geneva CY", "Nimbus Sans L", "sans-serif" !default;
$font-size-common: 13px !default;
$line-height-common: 18px !default;
$line-height-context: 20px !default;
$text-color-common: #333 !default;
$link-color-common: #0168bb !default;
$link-hover-color-common: #cb321e !default;
$link-visited-color-common: #0168bb !default;
$link-active-color-common: #cb321e !default;


$font-size-h1: 30px !default;
$line-height-h1: 1.5 !default;

$font-size-h2: 24px !default;
$line-heigh-h2: 1.5 !default;

$font-size-h3: 20px !default;
$line-height-h3: 1.5 !default;

$font-size-h4: 16px !default;
$line-height-h4: 1.5 !default;

$font-size-h5: 14px !default;
$line-height-h5: 1.5 !default;

$font-size-h6: 14px !default;
$line-height-h6: 1.5 !default;


$margin-top-common: 10px !default;
$margin-bottom-common: 30px !default;








$sides-spacing: 32px;