/* >>> MODULES/PLUGINS-CUSTOM/DIALOG.SCSS */
$dialog-bg-color: #fbfbfb !default;
$dialog-border-color: #eeeeee !default;

// Extenders
@mixin dialog-padding-sides($padding) {
	.ui-dialog-titlebar,
	.ui-dialog-content,
	.ui-dialog-buttonpane {
		padding-left: $padding + px;
		padding-right: $padding + px;
	}
}

%dialog-2buttons {

	button {
		width: 48%;
		float: left;
		
	}

	button + button {
		float: right;
	}
}


.ui-dialog {
	@include border-radius(0);
	@include box-shadow(0 0 40px rgba(0,0,0,0.5));
	@include dialog-padding-sides(30);
	padding: 0;
	border-width: 0px;
	// border-color: $dialog-border-color;
	background: #fff;
	font-family: $font-family-common;

	a {
		color: $link-color-common;

		&:hover, &:focus {
			color: $link-hover-color-common;
		}
	}

	.ui-dialog-titlebar-close {
		@include close-large(".ui-icon-closethick");
	}


	.ui-dialog-titlebar {
		@include border-radius(0);
		// background: #fff url(/static/img/Public/separator.png) no-repeat bottom;
		background: $dialog-bg-color;
		padding: 15px 45px 18px 45px;
		font: 25px/30px $font-family-common;
		border: 0;
		border-bottom: 1px solid $dialog-border-color;
		color: $text-color-common;
		text-align: center;

		.ui-dialog-title {
			float: none;
			margin: 0;
		}
	}

	.ui-dialog-content {
		padding-top: 20px;
		padding-bottom: 15px;
		font-size: 15px;
		text-align: left;
		overflow: visible;

		// button {
		// 	@extend %button-dialog;
		// 	font-family: $font-family-common;
		// }
	}



		p {
			margin: 0 0 15px;
		}



	.ui-dialog-buttonpane {
		background: transparent;
		border: 0;
		padding-bottom: 30px;

		.ui-dialog-buttonset {
			float: none;
			// text-align: left;
		}

	}


		.ui-dialog-buttonset {
			button {
				width: auto;
				min-width: 160px;
				float: left;
				
			}

			button + button {
				margin: 0 0 0 20px;
			}
		}

	.ui-icon-alert {
		display: none;
	}
}


.ui-widget-overlay {
	background: url(/static/img/Public/ui-overlay.png);
	position: fixed;
	top: 0;
	@include opacity(1);
}


/* Style: Fotorama */
@mixin fotorama-dialog-button {
	@include border-radius(0);
	@include opacity(0.8);
	top: 45px;
	width: 44px;
	height: 44px;
	background: #000;
	background: rgba(0,0,0,0.6);
	border: 0;
	padding: 0;
	position: absolute;

	&:hover {
		@include opacity(1);
		@include box-shadow(inset 0 0 0 rgba(0,0,0,0.5));
		// background: rgba(0,0,0,0.6);
	}
}

.ui-dialog_fotorama {
	background: transparent;
	box-shadow: none;
	overflow: visible;

	.ui-dialog-titlebar {
		background: transparent;
		border-bottom: 0;
		text-align: left;
		color: #fff;
		padding: 5px 20px 10px;
		// font-size: 22px;
		z-index: 30;
		white-space: nowrap;

		.ui-dialog-titlebar-close {
			@include fotorama-dialog-button;
			right: 0px;
		}

			.ui-icon-closethick {
				width: 16px;
				height: 17px;
				margin: -8px 0 0 -7px;
				background-position: 0 -1050px;
			}
	}



	.ui-widget-content {
		background: transparent;
		padding: 0px;
		display: inline-block;
	}

		p {
			margin: 0;
		}


	.fotorama__caption_overlay {
		a {
			@include link(#fff);
		}
	}
}

