/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	overflow-y: scroll;
	position: relative; /* Opera 9.5 */
	margin: 0;
}

.lt-ie9 {
	body {
		overflow-y: visible
	}
}

// ::-moz-selection { background: #3399FF; color: #fff; text-shadow: none; }
// ::selection { background: #3399FF; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a,
a:hover,
a:active,
a:focus {
	outline: none;
}


/* =============================================================================
   Typography
   ========================================================================== */

// abbr[title] {
//	 border-bottom: 1px dotted;
// 	}

h1,h2,h3,h4,h5,h6 {
	font-size: $font-size-common;
	font-weight: normal;
	line-height: $line-height-common;
}

b {
	font-weight: bold;
}

strong {
	font-weight: normal;
}

blockquote {
	margin-top: $margin-top-common;
	margin-bottom: $margin-top-common;
	margin-left: 40px;
	margin-right: 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin-top: $margin-top-common;
	margin-bottom: $margin-top-common;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

mark {
	background: #ff0;
	color: #000;
}



h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: 0;
}

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	font-size: $font-size-common;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

small {
	font-size: 0.8em;
}

sub,
sup {
	font-size: 0.7em;
	line-height: 0;
}

// sup {
//	 top: -0.5em;
// 	}

// sub {
//	 bottom: -0.25em;
// 	}


/* =============================================================================
   Lists
   ========================================================================== */

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

ul {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	list-style-position: outside;
}

dl {
	margin-top: 0;
	margin-bottom: 0;
}

dd {
	margin-left: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

img {
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure {
	margin: 0;
}


/* =============================================================================
   Tables
   ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}


/* =============================================================================
   Helpers
   ========================================================================== */

h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	padding: 0;
}

fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

input {
	padding: 0;
	margin: 0;

	&:focus {
		outline: none;
	}
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	text-align: left;
	display: inline;

	&:focus {
		outline: none;
	}
}