$page-sidebar-width: 250px;

.page {
	@include site-content;
	background: #fff;
}
	
	// Обертка главного контентного блока и сайдбара
	.page__wrapper {
		@include cf;
		padding-bottom: 30px;
	}


		.page__content-h {
			float: left;
			width: 100%;
		}

			// Главный контентный блок
			.page__content {
				@include box-sizing;
				position: relative;
				min-height: 600px;

				&._with-sidebar {
					// width: 80%;
					padding-right: 2%;
					margin-right: $page-sidebar-width;
				}
			}

		.page__sidebar {
			float: right;
			width: $page-sidebar-width;
			margin-left: -$page-sidebar-width;
		}