<div>

    <!-- plain -->
    <section id="plain">
        <div class="inner-text">{{plain.value}}</div>
        <input class="attr-value" type="{{plain.attr}}">
        <input class="attr-value-mixed" type="te{{plain.attrMixed}}">


        <div class="text-filter">{{plain.value | uppercase}}</div>
        <div class="text-filter-multiple">{{plain.value | uppercase | lowercase}}</div>
        <div class="text-filter-arguments">{{plain.number | argumentsTesting 'and' 4}}</div>

        <div class="html">{{{plain.html}}}</div>
        <div class="html-stripped">{{plain.html}}</div>
        <div class="html-mixed">{{{plain.html}}} {{plain.html}}</div>


        <div class="filter-html">{{{plain.html | nothing}}}</div>
        <div class="filter-html-stripped">{{plain.html | nothing}}</div>
        <div class="filter-json-stripped">{{plain.data | json}}</div>


        <div class="computed1">{{aDouble}}</div>
        <div class="computed2">{{aPlus}}</div>


        <div class="undefined">{{itsNotDefined}}</div>
        <div class="computed-undefined">{{getUndefined}}</div>
        <div class="fn-undefined">{{getFnUndefined()}}</div>

        <div class="html-undefined">{{{itsNotDefined}}}</div>
        <div class="html-computed-undefined">{{{getUndefined}}}</div>
        <div class="html-fn-undefined">{{{getFnUndefined()}}}</div>

        <div class="filter-undefined">{{itsNotDefined | nothing}}</div>
        <div class="filter-computed-undefined">{{getUndefined | nothing}}</div>
        <div class="filter-fn-undefined">{{getFnUndefined() | nothing}}</div>

        <div class="filter-html-undefined">{{{itsNotDefined | nothing}}}</div>
        <div class="filter-html-computed-undefined">{{{getUndefined | nothing}}}</div>
        <div class="filter-html-fn-undefined">{{{getFnUndefined() | nothing}}}</div>
    </section>


    <!-- v-text -->
    <section id="v-text">
        <div class="text" v-text="vText.value">Default text</div>
        <div class="function" v-text="forVText()">Default text</div>


        <div class="text-filter" v-text="vText.value | uppercase"></div>
        <div class="text-filter-multiple" v-text="vText.value | uppercase | lowercase"></div>
        <div class="text-filter-arguments" v-text="vText.value | argumentsTesting 'and' 4"></div>


        <div class="undefined" v-text="itsNotDefined">This should be removed</div>
    </section>


    <!-- partials -->
    <section id="partials">
        <div class="simple"><partial name="part1"></partial></div>
        <div class="undefined"><partial name="itsNotDefined"></partial></div>
        <div class="dynamic"><partial name="{{partial.partialName}}"></partial></div>
        <div class="dynamic-undefined"><partial name="{{itsNotDefined}}"></partial></div>
        <div class="dynamic-empty"><partial name="{{partial.emptyName}}"></partial></div>
    </section>


    <!-- v-model -->
    <section id="v-model">
        <input class="input" type="text" v-model="vModel.input">
        <input class="input-none" type="text" v-model="vModel.none">
        <!-- <input class="pick-up-value" type="text" value="value from attribute" v-model="vModel.input"> -->

        <textarea class="textarea" v-model="vModel.textarea1"></textarea>
        <!-- <textarea class="textarea" v-model="vModel.textarea2">Textarea Default text</textarea> -->

        <input class="checkbox" type="checkbox" v-model="vModel.checkbox">

        <form class="radio-form">
            <input type="radio" name="radio" value="one" v-model="vModel.radio">
            <input type="radio" name="radio" value="two" v-model="vModel.radio">
            <input type="radio" name="radio" value="three" v-model="vModel.radio">
        </form>


        <select class="select" v-model="vModel.select">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>

        <select class="select-multi" multiple v-model="vModel.selectMulti">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>

        <select class="select-dyn" options="vModel.selectOptions" v-model="vModel.select">
            <option value="999">Test</option>
        </select>

        <select class="select-dyn-multi" multiple options="vModel.selectOptions" v-model="vModel.selectMulti">
        </select>

        <select class="select-dyn-empty-v-model" options="vModel.selectOptions" v-model="gg">
        </select>

        <div class="radio-in-repeat-dyn" v-for="item in vModel.props.list">
            <input type="radio" value="{{item.value}}" v-model="vModel.props.value">
        </div>



        <section id="v-model-v-filter">
            <input class="plain-input" type="text" v-model="vModel.vFilter.plain | plain">
            <div class="plain-value">{{vModel.vFilter.plain}}</div>
            <input class="read-input" type="text" v-model="vModel.vFilter.read | read">
            <div class="read-value">{{vModel.vFilter.read}}</div>
            <input class="write-input" type="text" v-model="vModel.vFilter.write | write">
            <div class="write-value">{{vModel.vFilter.write}}</div>
            <input class="void-input" type="text" v-model="vModel.vFilter.void | void">
            <div class="void-value">{{vModel.vFilter.void}}</div>


            <input class="multiple" type="text" v-model="vModel.vFilter.text | uppercase | lowercase">
            <input class="arguments" type="text" v-model="vModel.vFilter.number | argumentsTesting 'and' 4">
        </section>

    </section>
    
    <!-- v-pre -->
    <section id="v-pre">
        <div v-pre>
            <div class="one">{{vPre.one}}</div>
            <div class="repeat" v-for="p in vPre.forRepeat"></div>
        </div>
    </section>
</div>
