<div>

    <!-- plain -->
    <section id="plain">
        <div class="inner-text">{{plain.value}}</div>
        <input class="attr-value" type="{{plain.attr}}">
        <input class="attr-value-mixed" type="te{{plain.attrMixed}}">


        <div class="text-filter">{{plain.value | uppercase}}</div>
        <div class="text-filter-multiple">{{plain.value | uppercase | lowercase}}</div>
        <div class="text-filter-arguments">{{plain.number | argumentsTesting 'and' 4}}</div>

        <div class="html">{{{plain.html}}}</div>
        <div class="html-stripped">{{plain.html}}</div>
        <div class="html-mixed">{{{plain.html}}} {{plain.html}}</div>


        <div class="filter-html">{{{plain.html | nothing}}}</div>
        <div class="filter-html-stripped">{{plain.html | nothing}}</div>
        <div class="filter-json-stripped">{{plain.data | json}}</div>


        <div class="computed1">{{aDouble}}</div>
        <div class="computed2">{{aPlus}}</div>


        <div class="undefined">{{itsNotDefined}}</div>
        <div class="computed-undefined">{{getUndefined}}</div>
        <div class="fn-undefined">{{getFnUndefined()}}</div>

        <div class="html-undefined">{{{itsNotDefined}}}</div>
        <div class="html-computed-undefined">{{{getUndefined}}}</div>
        <div class="html-fn-undefined">{{{getFnUndefined()}}}</div>

        <div class="filter-undefined">{{itsNotDefined | nothing}}</div>
        <div class="filter-computed-undefined">{{getUndefined | nothing}}</div>
        <div class="filter-fn-undefined">{{getFnUndefined() | nothing}}</div>

        <div class="filter-html-undefined">{{{itsNotDefined | nothing}}}</div>
        <div class="filter-html-computed-undefined">{{{getUndefined | nothing}}}</div>
        <div class="filter-html-fn-undefined">{{{getFnUndefined() | nothing}}}</div>
    </section>


    <!-- v-text -->
    <section id="v-text">
        <div class="text" v-text="vText.value">Default text</div>
        <div class="function" v-text="forVText()">Default text</div>

        
        <div class="text-filter" v-text="vText.value | uppercase"></div>
        <div class="text-filter-multiple" v-text="vText.value | uppercase | lowercase"></div>
        <div class="text-filter-arguments" v-text="vText.value | argumentsTesting 'and' 4"></div>


        <div class="undefined" v-text="itsNotDefined">This should be removed</div>
    </section>


    <!-- partials -->
    <section id="partials">
        <div class="simple"><partial name="part1"></partial></div>
        <div class="undefined"><partial name="itsNotDefined"></partial></div>
        <div class="dynamic"><partial name="{{partial.partialName}}"></partial></div>
        <div class="dynamic-undefined"><partial name="{{itsNotDefined}}"></partial></div>
        <div class="dynamic-empty"><partial name="{{partial.emptyName}}"></partial></div>
    </section>


    <!-- v-component -->
    <section id="v-component">
        <div class="simple" v-component="compon2">Empty holder</div>
        <div class="dynamic" v-component="{{vComponent.componentName}}">Empty holder</div>
        
        <div class="undefined" v-component="itsNotDefined">Empty holder</div>
        <div class="dynamic-undefined" v-component="{{itsNotDefined}}">Empty holder</div>
        <div class="dynamic-empty" v-component="{{vComponent.emptyName}}">Empty holder</div>

        <div class="no-template" v-component="noTemplate">
            <div class="value">{{value}}</div>
        </div>

        

        <div class="inherit" v-component="inheritor"></div>

        <div class="inherit-wrap" v-component="inheritorWrap"></div>




        <div class="no-inherit-good-with" v-component="compon2" v-with="withed: vComponent.toBeWithed"></div>

        <div class="no-inherit-bad-with" v-component="compon2" v-with="vComponent.forPlainWith"></div>
        
        <div class="inherit-good-with" v-component="compon3" v-with="withed: vComponent.toBeWithed"></div>

        <div class="inherit-bad-with" v-component="compon3" v-with="vComponent.forPlainWith"></div>



        <div class="syntetic" v-component="syntetic"></div>


        <!-- I'll leave it here for errors catching -->
        <div class="undefined-with-value" v-component="compon2" v-with="undefinedObject"></div>
    </section>


    <!-- v-repeat -->
    <section id="v-repeat">
        <ul class="simple-array">
            <li v-repeat="vRepeat.simpleArray">
                <span class="value">{{value}}</span>
                <span class="dont-inherit">{{dontInherit}}</span>
                <span class="parent-value">{{vRepeat.parentValue}}</span>
            </li>
        </ul>

        <ul class="undefined">
            <li v-repeat="vRepeat.undefined">Ok</li>
        </ul>

        <ul class="hollow">
            <li v-repeat="vRepeat.hollowArray">Ok</li>
        </ul>


        <ul class="array-filter-by">
            <li v-repeat="vRepeat.arrayForFilter | filterBy vRepeat.searchText in 'name'">
                <span class="age">{{age}}</span>
            </li>
        </ul>


        <ul class="array-filter-by-multiple">
            <li v-repeat="vRepeat.arrayForFilter | filterBy vRepeat.searchText in 'name' | filterBy '25' in 'age'">
                <span class="age">{{age}}</span>
            </li>
        </ul>


        <ul class="object">
            <li class="value" v-repeat="vRepeat.object">{{value}}</li>
        </ul>

        <ul class="repeat-component">
            <li v-repeat="vRepeat.simpleArray" v-component="compon1">
                <span class="should-not-be-there"></span>
            </li>
        </ul>

        <ul class="repeat-component-inherit">
            <li v-repeat="vRepeat.simpleArray" v-component="compon1Inherit">
                <span class="should-not-be-there"></span>
            </li>
        </ul>


        <ul class="repeat-component-with">
            <li v-repeat="vRepeat.simpleArray" v-with="withedValue: vRepeat.forWith" v-component="compon1">
                <span class="should-not-be-there"></span>
            </li>
        </ul>

        <ul class="repeat-component-with-inherit">
            <li v-repeat="vRepeat.simpleArray" v-with="withedValue: vRepeat.forWith" v-component="compon1Inherit">
                <span class="should-not-be-there"></span>
            </li>
        </ul>

        <ul class="repeat-component-with2">
            <li v-repeat="vRepeat.simpleArray" v-with="vRepeat.forWith2" v-component="compon1">
                <span class="should-not-be-there"></span>
            </li>
        </ul>


        <ul class="repeat-component-with2-inherit">
            <li v-repeat="vRepeat.simpleArray" v-with="vRepeat.forWith2" v-component="compon1Inherit">
                <span class="should-not-be-there"></span>
            </li>
        </ul>
        

        <div class="name-seting" v-repeat="item:vRepeat.nameNesting">
            <span class="item-value">{{item.value}}</span>
            <ul class="item-array">
                <li class="item-array-unit" v-repeat="item.array">{{newValue}}</li>
            </ul>

            <ul class="item-array-nesting">
                <li class="item-array-nesting-unit" v-repeat="unit:item.array">{{unit.newValue}}</li>
            </ul>
        </div>


        <div class="compound-nesting" v-component="compound"></div>


        <div class="syntetic" v-component="syntetic"></div>

        <div class="filter-repeated" v-repeat="vRepeat.simpleArray" v-component="filterRepeated"></div>


        <div class="with-v-if" v-repeat="vRepeat.simpleArray" v-if="itdoesnotexist"></div>

        <div class="with-v-if-comoonent" v-repeat="vRepeat.simpleArray" v-component="filterRepeated" v-if="itdoesnotexist"></div>

        <div class="with-v-show" v-repeat="item: vRepeat.simpleArray" v-show="vRepeat.parentValue && item.value"></div>

        <div class="with-v-show-component" v-repeat="item: vRepeat.simpleArray" v-component="filterRepeated" v-show="vRepeat.parentValue"></div>

    </section>


    <!-- v-model -->
    <section id="v-model">
        <input class="input" type="text" v-model="vModel.input">
        <input class="input-none" type="text" v-model="vModel.none">
        <!-- <input class="pick-up-value" type="text" value="value from attribute" v-model="vModel.input"> -->

        <textarea class="textarea" v-model="vModel.textarea1"></textarea>
        <!-- <textarea class="textarea" v-model="vModel.textarea2">Textarea Default text</textarea> -->
       
        <input class="checkbox" type="checkbox" v-model="vModel.checkbox">

        <form class="radio-form">
            <input type="radio" name="radio" value="one" v-model="vModel.radio">
            <input type="radio" name="radio" value="two" v-model="vModel.radio">
            <input type="radio" name="radio" value="three" v-model="vModel.radio">
        </form>


        <select class="select" v-model="vModel.select">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>

        <select class="select-multi" multiple v-model="vModel.selectMulti">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>

        <select class="select-dyn" options="vModel.selectOptions" v-model="vModel.select">
            <option value="999">Test</option>
        </select>

        <select class="select-dyn-multi" multiple options="vModel.selectOptions" v-model="vModel.selectMulti">
        </select>

        <select class="select-dyn-empty-v-model" options="vModel.selectOptions" v-model="gg">
        </select>
        
        <div class="radio-in-repeat-dyn" v-repeat="item: vModel.props.list">
            <input type="radio" value="{{item.value}}" v-model="vModel.props.value">
        </div>



        <section id="v-model-v-filter">
            <input class="plain-input" type="text" v-model="vModel.vFilter.plain | plain">
            <div class="plain-value">{{vModel.vFilter.plain}}</div>
            <input class="read-input" type="text" v-model="vModel.vFilter.read | read">
            <div class="read-value">{{vModel.vFilter.read}}</div>
            <input class="write-input" type="text" v-model="vModel.vFilter.write | write">
            <div class="write-value">{{vModel.vFilter.write}}</div>
            <input class="void-input" type="text" v-model="vModel.vFilter.void | void">
            <div class="void-value">{{vModel.vFilter.void}}</div>

                
            <input class="multiple" type="text" v-model="vModel.vFilter.text | uppercase | lowercase">
            <input class="arguments" type="text" v-model="vModel.vFilter.number | argumentsTesting 'and' 4">
        </section>

    </section>

    
    <!-- v-attr -->
    <section id="v-attr">
        <img class="simple" src="" v-attr="width: vAttr.boxWidth, height: vAttr.boxHeight">
        <img class="method" src="" v-attr="width: forVAttr(), height: vAttr.boxHeight">
        <input class="with-v-model" type="text" v-attr="value: vAttr.attrWithModel" v-model="vAttr.modelWithAttr">
    </section>

    
    <!-- v-show -->
    <section id="v-show">
        <div class="hide" v-show="vShow.hide"></div>
        <div class="hide-by-method" v-show="forVShowHide()"></div>
        <div class="show-hidden" style="display: none" v-show="vShow.show"></div>
        <div class="show-hidden-by-method" style="display: none" v-show="forVShowShow()"></div>
        <div class="hide-shown" style="display: block" v-show="vShow.hide"></div>

        <div class="replace-v-attr" v-attr="style: 'display: none'" v-show="vShow.show"></div>
    </section>

    
    <!-- v-style -->
    <section id="v-style">
        <div class="simple" v-style="display: vStyle.display, position: vStyle.position">Tadadam</div>
        <div class="method" v-style="display: forVStyle(), position: vStyle.position">Tadadam</div>
        <div class="replace-v-attr" v-style="display: vStyle.display" v-attr="style: 'display: table'">Tadadam</div>
        <div class="replace-v-show" v-style="display: vStyle.display" v-show="hide">Tadadam</div>
        <div class="object" v-style="vStyle.object">Tadadam</div>
    </section>


    <!-- v-class -->
    <section id="v-class">
        <div id="v-class-no-class" v-class="class1: vClass.class1"></div>
        <div id="v-class-simple" class="simple" v-class="class1: vClass.class1, class2: vClass.class2"></div>
        <div id="v-class-method" class="simple" v-class="class1: forVClass(), class2: vClass.class2"></div>
        <div id="v-class-v-attr" class="simple" v-attr="class: 'v-attr-class'" v-class="class1: vClass.class1, class2: vClass.class2"></div>
    </section>


    <!-- v-pre -->
    <section id="v-pre">
        <div v-pre>
            <div class="one">{{vPre.one}}</div>
            <div class="repeat" v-repeat="vPre.forRepeat"></div>
        </div>
    </section>


    <!-- v-if -->
    <section id="v-if">
        <div class="show" v-if="vIf.show"></div>
        <div class="hide" v-if="vIf.hide"></div>

        <div class="show-method" v-if="forVIfShow()"></div>
        <div class="hide-method" v-if="forVIfHide()"></div>
    </section>
</div>