<div>
    <div id="default">
        <item-one></item-one>
    </div>
    <partial name="noTrim"></partial>
    <div id="one">
        <item-one>
          <p>content1</p>
          <p>content2</p>
        </item-one>
    </div>

    <div id="two">
        <item-two>
          <p slot="one">One</p>
          <p slot="two">Two</p>
          <p>Default A</p>
        </item-two>
    </div>

    <div id="express">
        <item-one>
          <p>{{value}}</p>
        </item-one>
    </div>

    <div id="props">
        <item-one>
          <p :title="value"></p>
        </item-one>
    </div>

    <div id="v-if-empty">
        <item-one>
          <p v-if="no">content</p>
        </item-one>
    </div>

    <div id="v-if-hybrid">
        <item-one>
          <p v-if="yes">content1</p>
          <p v-if="no">content2</p>
        </item-one>
    </div>

    <div id="with-component">
        <item-one>
          <item :value="value"></item>
        </item-one>
    </div>

    <div id="partial">
        <item-two>
            <partial name="part" slot="two"></partial>
            <p slot="one">content</p>
        </item-two>
    </div>

    <div id="partial2">
        <b></b><b></b>
        <item-two>
            <partial name="part" slot="two"></partial>
            <p slot="one">content</p>
        </item-two>
    </div>

    <div id="multi">
        <item-multi>
            content
            <p slot="one">content</p>
        </item-multi>
    </div>
    <div id="deep">
        <item-deep>
            content
            <p slot="one">content</p>
        </item-deep>
    </div>
    <div id="v-for">
        <item-v-for>
            <p slot="one">content</p>
            <p slot="two">content</p>
        </item-v-for>
    </div>

    <div id="item-inside-item">
        <item-one>
            222
            <item-one>OK</item-one>
        </item-one>
    </div>
    <div id="item-complex">
        <item-complex>444</item-complex>
    </div>
    <div id="attribs-on-component">
        <item-one><dummy :title="value"></dummy></item-one>
    </div>
    <div id="v-show-on-component">
        <item-one><dummy v-show="value"></dummy></item-one>
    </div>
    <component-v-for></component-v-for>

    <div id="template-tag-nameless">
        <template-tag><template>check</template></template-tag>
    </div>
    <div id="template-tag-named">
        <template-tag><template slot="content">check</template></template-tag>
    </div>
    <div id="template-tag-mixed">
        <template-tag><template>check</template><template slot="content">check</template></template-tag>
    </div>
</div>
